Cosmic Crusade/.vs/
Cosmic Crusade/Debug/Tutorial 1.pdb
Cosmic Crusade/Debug/Tutorial 1.ilk
Cosmic Crusade/Debug/Tutorial 1.exe
Cosmic Crusade/Tutorial 1/x64/
Cosmic Crusade/x64/Debug/Tutorial 1.pdb
Cosmic Crusade/Tutorial 1/Release/
Cosmic Crusade/Tutorial 1/Debug/
